/**
 * 全局样式
 */
body {
  background-color: #fafafa;
  font-family: 'Times New Roman', 'Noto Serif SC', serif;
}

:root {
  --vp-header-anchor-symbol: '';
}

/* 导入字体 */
@font-face {
  font-family: '仓耳今楷03-W03';
  src: url('/fonts/仓耳今楷03-W03.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '仓耳今楷04-W04';
  src: url('/fonts/仓耳今楷04-W04.ttf') format('truetype');
  font-display: swap;
}

.vp-doc p,
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc strong,
.vp-doc b {
  font-family: '仓耳今楷03-W03', 'Times New Roman', 'Noto Serif SC', serif;
}

.vp-doc div[style*="flex-end"] > div > p {
  font-family: '仓耳今楷04-W04', 'Times New Roman', 'Noto Serif SC', serif;
}

/**
 * 标题与加粗增强
 */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc strong {
  font-weight: 700 !important;
  -webkit-text-stroke: 0.6px;
}

.vp-doc h2,
.vp-doc h3 {
  -webkit-text-stroke: 0.8px;
}

/* 一级标题 */
.vp-doc h1 {
  text-align: center;
}

/* 导航栏标题 */
.VPNavBarTitle .title {
  font-size: 0 !important;
}
.VPNavBarTitle .title::before {
  content: "☭";
  font-size: 3rem;
  font-weight: 600;
}

/* 副标题 */
.vp-doc h1 ~ p:has(em) {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--vp-c-text-2);
  margin-top: -0.1rem;
  margin-bottom: 1.5rem;
}

/**
 * 图片
 */
.vp-doc figure {
  margin-top: 2rem;
  text-align: center;
}
.vp-doc figure img {
  display: block;
  margin: 0 auto;
}
.vp-doc figcaption {
  font-size: 0.85em;
  font-weight: 300;
  text-align: center;
  color: #666;
  margin-top: 0.5rem;
}

/**
 * 标题链接
 */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none !important;
  color: inherit !important;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  opacity: 0.7;
}

/**
 * 无序列表
 */
/* 一级列表 */
.vp-doc ul {
  list-style: none !important;
  padding-left: 0 !important;
}
.vp-doc li {
  position: relative;
  padding-left: 2em !important;
  margin-bottom: 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px dashed rgba(0,0,0,0.07);
  line-height: 1.7;
}
.vp-doc li::before {
  content: "·";
  position: absolute;
  left: 0.2em;
  color: #bbb;
  font-size: 1.2rem;
  line-height: 1.7;
}
/* 避免与外部容器分隔线重叠 */
.vp-doc li:last-child {
  border-bottom: none !important;
}

/* 二级列表 */
.vp-doc ul ul {
  padding-left: 1.8em !important;
}
.vp-doc ul ul li {
  border-bottom: none !important;
  padding-left: 2em !important;
  margin-bottom: 0.3em;
}
.vp-doc ul ul li::before {
  content: "◦";
  font-size: 1rem;
  color: #ccc;
}

/**
 * 自定义分隔线
 */
.vp-doc hr {
  margin-bottom: 36px;
}